body    {
    background-color: antiquewhite;
    padding: 20px;
}

h1      {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

footer      {
    color: gray;
}

h2      {
    color: magenta;
}

h3      {
    color: maroon
}

h4      {
    color: darkorchid;
}

li      {
    color: green;
}